{% load static %}
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
          <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
        <ul class=" navbar-right">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown open" style="padding-left: 15px;">
              <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'ProyectowebApp/gentelella/images/img.jpg' %}" alt="">{{user.username}}
              </a>
              <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"  href="javascript:;"> Profile</a>
                  <a class="dropdown-item"  href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                  </a>
                  <a class="dropdown-item"  href="javascript:;">Help</a>
                  <a class="dropdown-item"  href="{% url 'Log_Out' %}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
              </div>
            </li>
          {% else %}
            <li role="presentation" class="nav-item dropdown open" style="padding-left: 15px;">
              <a href="{% url 'Log_In' %}" class="info-number" aria-expanded="false">
                Iniciar Sesión <i class="fa fa-sign-in" aria-hidden="true"></i>
              </a>
            </li>  
          {% endif %}
          <li role="presentation" class="nav-item dropdown open">
            <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-shopping-cart"></i>
              <span class="badge bg-green">{{articulos}}</span>
            </a>
            <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
              {% if request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                <li class="nav-item">
                  <a class="dropdown-item">
                    <span class="image"><img src="{{value.imagen}}" alt="Profile Image" /></span>
                    <span>
                      <span>{{value.producto}}</span>
                      <span class="time">$ {{value.total}}</span>
                    </span>
                    <span class="message">
                      P.U.$ $ {{value.precio}}
                    </span>
                  </a>
                  <div class="btn-group btn-group-sm pull-right" role="group" >
                    <a href="{% url 'carro:Restar' value.producto_id %}" class="btn btn-outline-dark" > - </a>
                    <a href="#" class="btn btn-outline-dark disabled"> {{value.cantidad}} </a>
                    <a href="{% url 'carro:Agregar' value.producto_id %}" class="btn btn-outline-dark" >+</a>
                  </div>
                </li>
                {% endfor %}
              {% else %}              
              <li class="nav-item">
                <a class="dropdown-item">
                  <span class="image"><img src="{% static 'ProyectowebApp/gentelella/images/img.jpg' %}" alt="Profile Image" /></span>
                  <span>
                    <span>Cesta sin prodstos</span>
                    <span class="time">0</span>
                  </span>
                  <span class="message">
                    ...
                  </span>
                </a>
              </li>
              {% endif %}
              <li class="nav-item">
                <div class="text-center">
                  Total $ {{importe_total_carro}}
                  {% if request.session.carro.items %}
                  <a href="{% url 'ProcesarPedido' %}" class="dropdown-item">
                    <strong>Terminar compra</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                  {% endif %}
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>