{% extends "ProyectowebApp/base_gentelella.html" %}
{% load static %}
{% block content %}   
<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Categorias: &nbsp; </h2>
                      {% for categoria in categorias %}
                        {% if categoria.id == categoria_id %}
                          <a class="btn btn-primary btn-sm" href="{% url 'Categoria' categoria.id %}" role="button">{{categoria.categoria}}</a>
                        {% else %}
                          <a class="btn btn btn-outline-success btn-sm" href="{% url 'Categoria' categoria.id %}" role="button">{{categoria.categoria}}</a>
                        {% endif %}
                      {% endfor %}
                      <a class="btn btn btn-outline-success btn-sm" href="{% url 'Blog' %}" role="button">Todas</a>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-3">
                        <div class="thumbnail">
                          <div class="image view view-first">
                            <img style="width: 100%; display: block;" src="{{post.imagen.url}}" alt="image" />
                            <div class="mask">
                              <p style="padding: 5px;"><small>
                                Autor: {{post.autor}}<br>
                                Categorias: 
                                {% for categoria in post.categorias.all %}
                                  {{categoria}}
                                {% endfor %}
                              </small></p>
                              <div class="tools tools-bottom">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-pencil"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="caption">
                            <p><strong>{{post.post}}</strong></p>
                            
                            <p>{{post.contenido}}</p>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}