{% extends "ProyectowebApp/base_login.html" %}
{% load static %}
{% block content %} 
<div class="animate form login_form">
    <section class="login_content">
      <form>
        <h1>Iniciar Sesión:</h1>
        <div>
          <input type="text" class="form-control" placeholder="Username" required="" />
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Password" required="" />
        </div>
        <div>
          <a class="btn btn-default submit" href="index.html">Log in</a>
          <a class="reset_pass" href="#">¿Perdiste tu contraseña?</a>
        </div>

        <div class="clearfix"></div>

        <div class="separator">
          <p class="change_link">¿Eres nuevo en el sitio?
            <a href="#signup" class="to_register"> Crearcuenta </a>
          </p>

          <div class="clearfix"></div>
          <br />

          <div>
            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div id="register" class="animate form registration_form">
    <section class="login_content">
      <form>
        <h1>Create Account</h1>
        <div>
          <input type="text" class="form-control" placeholder="Username" required="" />
        </div>
        <div>
          <input type="email" class="form-control" placeholder="Email" required="" />
        </div>
        <div>
          <input type="password" class="form-control" placeholder="Password" required="" />
        </div>
        <div>
          <a class="btn btn-default submit" href="index.html">Submit</a>
        </div>

        <div class="clearfix"></div>

        <div class="separator">
          <p class="change_link">¿Ya cuentas con un registro?
            <a href="#signin" class="to_register"> Iniciar Sesión </a>
          </p>

          <div class="clearfix"></div>
          <br />

          <div>
            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
          </div>
        </div>
      </form>
    </section>
  </div>
{% endblock %}